.DS_Store
*.h5
*.xml
*.tif
*.orig
*.log
*.pyc
data/*
notebooks/comparison_results/*
notebooks/streaming_output/*
scripts/compression_analysis_output/*
*.mov
sdate.egg-info/top_level.txt
sdate.egg-info/SOURCES.txt
sdate.egg-info/PKG-INFO
sdate.egg-info/entry_points.txt
sdate.egg-info/dependency_links.txt
*.err
*.out
*.csv
